HOST=IP_ADDRESS_HDC
USER_DB=YOUR_USER
PASSWORD_DB="YOUR_PASSWORD_DB"
DATABASE=YOUR_DB
PORT_DB=YOUR_DB_PORT
SECRETKEY="YOUR_SECRET_KEY_HERE"
USERNAME="YOUR_USERNAME_LOGIN_API"
PASSWORD_HASH="YOUR_PASSWORD_LOGIN_API"
PORT=3000